### Lists
- lists are collection of different data types.
- mutable---> changable
- It allows duplicate values.

In [1]:
ls=['ece','cse','mec','civil']
type(ls)

list

In [2]:
ls[1]

'cse'

In [3]:
ls[0:3]

['ece', 'cse', 'mec']

In [4]:
ls[1:]

['cse', 'mec', 'civil']

In [6]:
ls

['ece', 'cse', 'mec', 'civil']

In [8]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [9]:
ls.append("20")
print(ls)

['ece', 'cse', 'mec', 'civil', '20']

In [10]:
ls.append([1,2,3])
print(ls)

['ece', 'cse', 'mec', 'civil', '20', [1, 2, 3]]

In [12]:
ls.extend('2')
print(ls)

['ece', 'cse', 'mec', 'civil', '20', [1, 2, 3], '2']

In [13]:
ls.extend([4,5,6])
print(ls)

['ece', 'cse', 'mec', 'civil', '20', [1, 2, 3], '2', 4, 5, 6]

In [14]:
ls[5]

[1, 2, 3]

In [15]:
ls[5][1]

2

In [17]:
ls.insert(2,10) # ls.insert(index,value)
print(ls)

['ece', 'cse', 10, 10, 'mec', 'civil', '20', [1, 2, 3], '2', 4, 5, 6]

In [18]:
ls.count(10)

2

In [19]:
ls.pop()

6

In [20]:
ls

['ece', 'cse', 10, 10, 'mec', 'civil', '20', [1, 2, 3], '2', 4, 5]

In [21]:
ls.remove('ece')

In [22]:
ls

['cse', 10, 10, 'mec', 'civil', '20', [1, 2, 3], '2', 4, 5]

In [23]:
ls.remove(10)

In [24]:
ls

['cse', 10, 'mec', 'civil', '20', [1, 2, 3], '2', 4, 5]

In [26]:
ls.reverse()
ls

['cse', 10, 'mec', 'civil', '20', [1, 2, 3], '2', 4, 5]

In [32]:
s1=[1,2,3,4,7,5]
s1.sort(reverse=True)
s1

[7, 5, 4, 3, 2, 1]

In [33]:
s1.sort(reverse=False)
s1

[1, 2, 3, 4, 5, 7]

In [34]:
s1.reverse()

In [35]:
s1

[7, 5, 4, 3, 2, 1]

In [36]:
s1.clear()
s1

[]

In [40]:
del s1

In [41]:
s1

NameError: name 's1' is not defined

In [42]:
s2=ls.copy()
s2

['cse', 10, 'mec', 'civil', '20', [1, 2, 3], '2', 4, 5]

In [43]:
s2.index('civil')

3

In [45]:
x1=[5,7,9]
x2=x1
x2

[5, 7, 9]

In [46]:
x3=[4,6,8]
x3=x1
x3

[5, 7, 9]

In [47]:
x2

[5, 7, 9]

In [51]:
x4=[1,2,3]
x=x2.copy()
x

[1, 2, 3]

In [52]:
# how to print a 1 to 10 values in list
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [63]:
lst=[x for x in range(10)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
x1.extend('m')
print(x1)

[5, 7, 9, 's', 'a', 'n', 'a', 's', 'a', 'n', 'a', 's', 'a', 'n', 'a', 'm']

In [60]:
x2.extend('p')
x2

[1, 2, 3, 'p']

In [61]:
x2[0]="s"
x2

['s', 2, 3, 'p']

In [64]:
n=[]
for i in range(10):
    n.append(i)
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]