In [4]:
print("1. add 2. sub 3. div 4. mul 5. mod division 6. floor division 7. power")
ch = int(input("enter the opertion to be performed"))
a = int(input("enter a value"))
b = int(input("enter b value"))

    
def add(a,b):
    return a+b
def sub(a,b):
    print(a-b)

if ch == 1:
    print(add(a,b))
elif ch==2:
    sub(a,b)
else:
    print("out of choice")

1. add 2. sub 3. div 4. mul 5. mod division 6. floor division 7. power
enter the opertion to be performed1
enter a value26
enter b value78
104

In [5]:
def fact(n):
    fac = 1
    for i in range(1,n+1):
        fac = fac * i
    return fac
n = int(input("enter n value"))
fact(n)

enter n value5

120

In [7]:
def factrecur(n):
    if n==1:
        return 1
    else:
        return (n*factrecur(n-1)) # 6 * factrecur(5) -- 6* 5 * factrecur(4)--> 6*5*4*3*2*1
    
n = int(input("enter n value"))
fact(n)

enter n value6

720

Dictionary:
----------------
- Dictionary is a collection of items with any datatype and can be accessed using keys
- keys are unique 
- represented by braces
- each key is seperated from its value by colon(:) key:value
- dict is mutable

In [8]:
d = {}
type(d)

dict

In [10]:
d = {1:4,7:8,9:56,8:"python"}
d1 = {"fruits":["apple","banana","grapes"],1:"animal"}
print(d)
d1

{1: 4, 7: 8, 9: 56, 8: 'python'}

{'fruits': ['apple', 'banana', 'grapes'], 1: 'animal'}

In [11]:
d1[1] = 76
d1

{'fruits': ['apple', 'banana', 'grapes'], 1: 76}

In [12]:
d1["fruits"]

['apple', 'banana', 'grapes']

In [13]:
d1["course"] = "python"

In [14]:
d1

{'fruits': ['apple', 'banana', 'grapes'], 1: 76, 'course': 'python'}

In [15]:
d1.items()

dict_items([('fruits', ['apple', 'banana', 'grapes']), (1, 76), ('course', 'python')])

In [16]:
d1.keys()

dict_keys(['fruits', 1, 'course'])

In [17]:
d1.values()

dict_values([['apple', 'banana', 'grapes'], 76, 'python'])

In [18]:
d1.get("course")

'python'

In [19]:
d1.update({78:987.34})

In [20]:
d1

{'fruits': ['apple', 'banana', 'grapes'],
 1: 76,
 'course': 'python',
 78: 987.34}

In [21]:
d1.update({"course":"python Programming"})
d1

{'fruits': ['apple', 'banana', 'grapes'],
 1: 76,
 'course': 'python Programming',
 78: 987.34}

In [22]:
d1.setdefault("a")

In [23]:
d1

{'fruits': ['apple', 'banana', 'grapes'],
 1: 76,
 'course': 'python Programming',
 78: 987.34,
 'a': None}

In [24]:
d1.setdefault(1)

76

In [26]:
h = {}
h.fromkeys("hello",456)

{'h': 456, 'e': 456, 'l': 456, 'o': 456}

In [27]:
h.clear()

In [28]:
h

{}

In [29]:
d

{1: 4, 7: 8, 9: 56, 8: 'python'}

In [30]:
a = d.copy()
a

{1: 4, 7: 8, 9: 56, 8: 'python'}

In [31]:
d.pop(8)

'python'

In [35]:
d.pop(7)

KeyError: 7

In [34]:
d

{1: 4, 9: 56}

In [38]:
d.popitem()

(1, 4)

In [39]:
d

{}

In [40]:
del d

In [41]:
d

NameError: name 'd' is not defined

In [48]:
d = {}
def addItems(n):

    for i in range(n):
        sname = input("enter sname")
        srollno = input("enter srollno")
        sbranch = input("enter sbranch")
        d[srollno] = [sname,sbranch]
    print(d)
    
n = int(input("enter n value"))
addItems(n)

enter n value2
enter sname1
enter srollno2
enter sbranch3
enter sname4
enter srollno4
enter sbranch5
{'2': ['1', '3'], '4': ['4', '5']}

In [51]:
s = "python Programming"
s.index("Pr")

7